* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background: #222;
    color: white;
    font-family: 'Helvetica Neue';
    height: 100%;
    overflow-x: hidden;
}

.intro-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 70px;
    padding-bottom: 120px;
    justify-content: center;
    color: white;
    font-size: 3rem;
    font-weight: medium;
    text-align: center;
    letter-spacing: 0.2rem;
}

.pen-stage {
    height: 55vh;
    width: 100%;
    background-color: #222;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    overflow: hidden;
}

.pen-cap,
.pen-body {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    width: auto;
    height: auto;
    max-height: 400px; /* increase this value to make pen bigger */
    pointer-events: none;
    z-index: 11;
    padding-left: 100px;
}

/* Position cap slightly above center */
.pen-cap {
    top: calc(50% - 50px); /* adjust to get precise overlap */
}

/* Position body slightly below center */
.pen-body {
    top: calc(40% + 50px); /* adjust until edges meet smoothly */
}

/* Scroll content */
.spacer {
    height: 45vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
}

.spacer-two {
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
}

.spacer-three {
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
}

/* 2. Bio Section */
.bio-section {
    color: white;
    padding: 4rem 2rem;
    text-align: center;
    letter-spacing: 1px;
}
.bio-photo {
    width: 200px;
    height: 200px;
    border-radius: 16px;
    object-fit: cover;
}
.bio-name {
    letter-spacing: 0.3em;
    font-size: 0.9rem;
    color: #aaa;
    margin-top: 1rem;
    font-family: sans-serif;
}
.bio-title {
    font-size: 3rem;
    color: #f45e01;
    margin: 0.5rem 0;
}
.bio-desc {
    font-size: 1.2rem;
    max-width: 600px;
    margin: auto;
    line-height: 1.5rem;
}

.my-work .bio-title{
    font-size: 3rem;
    color: #aaa;
    margin: 0.5rem 0;
    text-align: center;
}

.my-work .bio-desc{
    text-align: center;
    margin-bottom: 40vh;
    line-height: 1.5rem;
}

/* 3. Project Section */
.project-card {
    margin: 4rem auto;
    padding: 2rem;
    border-radius: 1rem;
    max-width: 1200px;
    color: white;
    position: relative;
    overflow: hidden;
}
.project-type {
    font-size: 0.9rem;
    color: #aaa;
    letter-spacing: 0.1em;
    padding-bottom: 10px;
}
.project-title {
    font-size: 2rem;
}

.project-desc {
    font-size: 1rem;
    margin: 1rem 0;
    line-height: 1.35rem;
    letter-spacing: 0.06rem
}
.project-btn {
    border: 2px solid #f45e01;
    background-color: transparent;
    color: #f45e01;
    font-size: 1rem;
    padding: 0.6rem 1.6rem;
    border-radius: 30px;
    transition: all 0.3s ease;
    cursor: pointer;
    font-family: inherit;
}

.project-btn:hover {
    background-color: #f45e01;
    color: #111;
}

.project-image {
    width: 100%;
    max-height: 600px;
    object-fit: cover;
    margin-top: 1rem;
    border-radius: 12px;
}

.navbar {
    width: 100%;
    padding: 2rem 2rem;
    background-color: #222;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    box-shadow: 0 20px 15px #222;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    letter-spacing: 2px;
}

.nav-container .logo{
    letter-spacing: 3px;
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 2rem;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}


.bottom-bar-mask {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 75px; /* adjust height to match your pen-body clearance */
    background-color: #222;
    box-shadow: 0 -30px 15px #222;
    z-index: 9; /* behind the pen (z-index: 11), above content */
}

.recap-trigger {
    height: 100vh; /* enough scroll space for the recap effect */
    background: transparent;
}

footer {
    background-color: #222;
    color: #999;
    text-align: center;
    padding: 2rem;
    font-size: 0.9rem;
    padding-bottom: 72vh;
    z-index: 0;
    position: relative;
}



/* Modal Styles */
.modal {
    display: none;
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    justify-content: center;
    align-items: center;
}


.modal-content {
    background-color: #222;
    border-radius: 16px;
    padding: 3rem 3rem 2rem 3rem;
    width: 90vw;
    max-width: 800px;
    max-height: 90vh;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.6);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.close-btn {
    position: absolute;
    top: 16px;
    right: 16px;
    color: white;
    background: none;
    border: none;
    font-size: 2rem;
    font-weight: bold;
    cursor: pointer;
    z-index: 2;
    padding: 0;
    line-height: 1;
}
.close-btn:hover {
    color: #f45e01;
}

.modal-img {
    width: 100%;
    height: auto;
    max-height: 70vh;
    object-fit: contain;
    border-radius: 12px;
    
}


.carousel-controls {
    margin-top: 1rem;
    display: flex;
    gap: 1rem;
}

.carousel-controls button {
    background-color: transparent;
    border: 2px solid #f45e01;
    color: #f45e01;
    padding: 0.5rem 1.5rem;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.carousel-controls button:hover {
    background-color: #f45e01;
    color: #111;
}

.magnifier-lens {
    position: absolute;
    border: 3px solid #f45e01;
    border-radius: 50%;
    cursor: none;
    width: 150px;
    height: 150px;
    overflow: hidden;
    pointer-events: none;
    display: none;
    z-index: 10;
}

.magnifier-lens img {
    position: absolute;
    width: 200%; /* zoom level */
    height: auto;
}

.toggle-magnifier {
    margin-top: 1rem;
    padding: 0.5rem 1.5rem;
    background-color: #f45e01;
    color: #111;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.2s ease;
}
.toggle-magnifier:hover {
    background-color: #d94500;
}

.projects-end {
    height: 0vh;
    background: transparent;
}

.pen-wrapper {
    position: relative;
    height: 100vh;
    overflow: hidden;
    z-index: 10;
}

.pen-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #1f1f1f; /* match your page background */
    z-index: 9; /* below pen (which is z-index: 10 or higher), above all other content */
    pointer-events: none;
    transition: opacity 0.5s ease;
    opacity: 1;
}

.pen-overlay.hide {
    opacity: 0;
}

.contact-fullscreen {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
    padding: 2rem;
    background-color: #222; /* your page background */
    color: #eee;
    text-align: center;
}


.contact-text p {
    font-size: 5rem;
    line-height: 1.3;
    margin-bottom: 1.5rem;
}

.contact-text em {
    font-style: italic;
}


.cta-line {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.reach-out {
    display: inline-block;
    border: 2px solid #f45e01;
    padding: 0.6rem 2rem;
    border-radius: 999px;
    font-size: 3rem;
    text-decoration: none;
    color: #f45e01;
    transition: 0.3s ease;
}

.reach-out:hover {
    background-color: #f45e01;
    border: 2px solid #f45e01;
    color: #1f1f1f;
}

.blank-line {
    border-bottom: 2px solid #eee;
    padding: 0 0.4rem;
    margin: 0 0.3rem;
    font-weight: 500;
}

.star {
    color: #f45e01;
    font-size: 2rem;
    margin-left: 0.4rem;
}

footer {
    background-color: #222;
    color: #999;
    text-align: center;
    padding: 2rem;
    padding-bottom: 2rem;
    font-size: 0.9rem;
    z-index: 0;
    position: relative;
}